# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY={9FCk|I6=*(!I5+R0Hu5[[K2OF[)zJr>~Lfz-H|LfzSP1cJ$bT
DJANGO_ALLOWED_HOSTS=.example.com

# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
