{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Change password{% endblock %}

{% block content %}

    <h1>Change password</h1>

    <p>Please enter (and confirm) your new password.</p>
    <div style="width:40%">
      <form action="" method="post">
          <div style="display:none">
              <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
          </div>
          <div class="form-group">
            {{ form.old_password.errors }}
            <label for="id_old_password">Old password:</label>
            {{ form.old_password|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2|add_class:"form-control" }}
          </div>
          <input type="submit" value="Change my password" class="btn btn-primary" />
      </form>
    </div>


{% endblock %}
