{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Home inventory made easy.</h1>
      <p>Home inventory is the best way to keep track of your stuff anywhere.</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Get started now &raquo;</a></p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>What</h2>
      <p>Organize your collections, music, movies, books, video games, electronics, wine lists, jewelry, appliances, office supplies, or anything else in your possession with this easy to use but powerful inventory application.</p>
      <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Where</h2>
      <p>Know where your stuff is. You can create locations and keep track when you move your things from places easily. Stop wasting time trying to remember where your things are and keep the focus on more important tasks.</p>
      <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Who</h2>
      <p>Forgot who borrowed your book or any item from your toolbox. Never again, with Home Inventory you can get instantly who and when you have loaned your stuff. Get your belongings back with no hassle.</p>
      <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">View details &raquo;</a></p>
    </div>
  </div>
{% endblock %}
