{% extends "base_generic.html" %}

{% load widget_tweaks %}

{% block title %}Password reset{% endblock %}

{% block content %}

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <div style="width:40%">
          <form action="" method="post">
              <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
              </div>
              <table>
                  <tr>
                      <td>{{ form.new_password1.errors }}
                          <label for="id_new_password1">New password:</label></td>
                      <td>{{ form.new_password1|add_class:"form-control" }}</td>
                  </tr>
                  <tr>
                      <td>{{ form.new_password2.errors }}
                          <label for="id_new_password2">Confirm password:</label></td>
                      <td>{{ form.new_password2|add_class:"form-control" }}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><input type="submit" value="Change my password" class="btn btn-primary" /></td>
                  </tr>
              </table>
          </form>
        </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
