{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}

    <h1>Categories</h1>

    {% include "shared/_action_confirmation.html" %}

    <a href="{% url 'category-create' %}" class="btn btn-primary">New</a>
    <br><br>

    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </thead>
      <tbody>
        {% for category in category_list %}
          <tr>
            <td style="width:30%">{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td style="width:25%">
              <a href="{% url 'category-detail' pk=category.id %}" class="btn btn-primary">Details</a>
              <a href="{% url 'category-update' pk=category.id %}" class="btn btn-primary">Update</a>
              <a href="{% url 'category-delete' pk=category.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "shared/_generic_pagination.html" %}

{% endblock %}
