{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}My things{% endblock %}

{% block content %}

    <h1>My things</h1>

    {% include "shared/_action_confirmation.html" %}

    <form method="get">
      <div class="card">
        <h4 class="card-header">Filter</h4>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.make.label_tag }}
              {{ filter.form.make|add_class:"form-control" }}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.model.label_tag }}
              {{ filter.form.model|add_class:"form-control" }}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.id_number.label_tag }}
              {{ filter.form.id_number|add_class:"form-control" }}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.purchased_from.label_tag }}
              {{ filter.form.purchased_from|add_class:"form-control" }}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.location.label_tag }}
              {{ filter.form.location|add_class:"form-control" }}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.category.label_tag }}
              {{ filter.form.category|add_class:"form-control" }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <br>
    <a href="{% url 'item-create' %}" class="btn btn-primary">New</a>
    <br><br>

    <table class="table table-bordered">
      <thead>
        <th>Model</th>
        <th>Make</th>
        <th>Id Number</th>
        <th>Purchased date</th>
        <th>Location</th>
        <th>Category</th>
        <th></th>
      </thead>
      <tbody>
        {% for item in filter.qs %}
          <tr>
            <td style="width:20%">{{ item.model }}</td>
            <td>{{ item.make }}</td>
            <td>{{ item.id_number }}</td>
            <td>{{ item.purchased_date }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.category }}</td>
            <td style="width:25%">
              <a href="{% url 'item-detail' pk=item.id %}" class="btn btn-primary">Details</a>
              <a href="{% url 'item-update' pk=item.id %}" class="btn btn-primary">Update</a>
              <a href="{% url 'item-delete' pk=item.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "shared/_generic_pagination.html" %}

{% endblock %}
