{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Details - {{ item.make }} / {{item.model}} {% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
      <h1>{{ item.make }} / {{item.model}}</h1>
  </div>
  <div class="card-body">
    <p>
      <b>Id number:</b> {{ item.id_number }}<br>
      <b>Purchased from:</b> {{ item.purchased_from }}<br>
      <b>Purchased date:</b> {{ item.purchased_date }}<br>
      <b>Quantity:</b> {{ item.quantity }}<br>
      <b>Value:</b> {{ item.value }}<br>
      <b>Estimated current value:</b> {{ item.estimated_current_value }}<br>
      <b>Description:</b> {{ item.description }}<br>
      <b>Attributes:</b> {{ item.attributes }}<br>
      <b>Year:</b> {{ item.year }}<br>
      <b>Category:</b> {{ item.category }}<br>
      <b>Location:</b> {{ item.location }}<br>
      <b>Warranty:</b> {{ item.warranty }}<br>
      <b>Warranty type:</b> {{ item.warranty_type }}<br>
      <b>Warranty expiration:</b> {{ item.warranty_expiration }}<br>
      <b>Warranty contact info:</b> {{ item.warranty_contact_info }}<br>
    </p>

    <h3>Photos</h3>
    <p>
      <a href="{% url 'item-photo' pk=item.id %}" class="btn btn-primary">Add photo</a>
    </p>

    {% if photos %}

      <div class="d-flex flex-wrap">
      {% for photo in photos %}
            <div class="p-2">
              <div class="card text-center" style="width: 10rem">
                <div class="card-body">

                  <p class="card-text">
                    <a href="{{ photo.upload.url }}" target="_blank">
                      <img src="{{ photo.upload|thumbnail_url:'thumb100' }}" alt="" />
                    </a>
                  </p>
                  <a href="{% url 'photo-remove' pk=photo.id %}" class="btn btn-danger btn-sm delete">Remove</a>
                </div>
              </div>
            </div>
      {% endfor %}
      </div>
    {% endif %}

    <h3>Attachments</h3>
    <p>
      <a href="{% url 'item-attachment' pk=item.id %}" class="btn btn-primary">Add attachment</a>
    </p>

    {% if attachments %}
    <div class="col-md-12">
      <table class="table table-hover">
        {% for attachment in attachments %}
          <tr>
              <td><a href="{{ attachment.upload.url }}" target="_blank"> {{ attachment.filename }}</a></td>
              <td style="width:10%"><a href="{% url 'attachment-remove' pk=attachment.id %}" class="btn btn-danger delete">Remove</a></td>
          </tr>
        {% endfor %}

      </table>
    </div>


    {% endif %}

  </div>
</div>

  <p style="padding-top: 1rem">
    <a href="{% url 'item-list' %}" class="btn btn-primary">Back to list</a>
  </p>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $(".delete").click(function(){
        if (!confirm("Do you really want to remove ?")){
          return false;
        }
      });
    });
  </script>
{% endblock %}
