{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Details - {{ item.make }} / {{item.model}} {% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
      <h1>{{ item.make }} / {{item.model}}</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
          <strong>Id number/Year:</strong><br> {{ item.id_number }}/{{ item.year }}
      </div>
      <div class="col-md-3">
          <strong>Category:</strong><br> {{ item.category }}
      </div>
      <div class="col-md-3">
          <strong>Location:</strong><br> {{ item.location }}<br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-9">
          <strong>Description/Details:</strong><br> {{ item.description }}
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMore" aria-expanded="false" aria-controls="collapseAdvanced">
      More
    </button>
    <br>
    <div class="collapse" id="collapseMore">
      <br>
      <div class="row">
        <div class="col-md-9">
            <strong>Attributes:</strong><br> {{ item.attributes }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
            <strong>Purchased from:</strong><br> {{ item.purchased_from }}
        </div>
        <div class="col-md-3">
            <strong>Purchased date:</strong><br> {{ item.purchased_date }}
        </div>
        <div class="col-md-3">
            <strong>Quantity:</strong><br> {{ item.quantity }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <strong>Value:</strong><br> {{ item.value }}
        </div>
        <div class="col-md-3">
            <strong>Estimated current value:</strong><br> {{ item.estimated_current_value }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-9">
            <strong>Notes:</strong><br> {{ item.notes }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
            <strong>Warranty:</strong><br> {{ item.warranty }}
        </div>
        <div class="col-md-3">
            <strong>Warranty type:</strong><br> {{ item.warranty_type }}
        </div>
        <div class="col-md-3">
            <strong>Warranty expiration:</strong><br> {{ item.warranty_expiration }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-9">
          <strong>Warranty contact info:</strong><br> {{ item.warranty_contact_info }}
        </div>
      </div>
    </div>
    <br>

    <h3>Photos</h3>
    <hr>
    <p>
      <a href="{% url 'item-photo' pk=item.id %}" class="btn btn-primary">Add photo</a>
    </p>

    {% if photos %}

      <div class="d-flex flex-wrap">
      {% for photo in photos %}
            <div class="p-2">
              <div class="card text-center" style="width: 10rem">
                <div class="card-body">

                  <p class="card-text">
                    <a href="{{ photo.upload.url }}" target="_blank">
                      <img src="{{ photo.upload|thumbnail_url:'thumb100' }}" alt="" />
                    </a>
                  </p>
                  <a href="{% url 'photo-remove' pk=photo.id %}" class="btn btn-danger btn-sm delete">Remove</a>
                </div>
              </div>
            </div>
      {% endfor %}
      </div>
    {% endif %}
    <br>
    <h3>Attachments</h3>
    <hr>
    <p>
      <a href="{% url 'item-attachment' pk=item.id %}" class="btn btn-primary">Add attachment</a>
    </p>

    {% if attachments %}
    <div class="col-md-12">
      <table class="table table-hover">
        {% for attachment in attachments %}
          <tr>
              <td><a href="{{ attachment.upload.url }}" target="_blank"> {{ attachment.filename }}</a></td>
              <td style="width:10%"><a href="{% url 'attachment-remove' pk=attachment.id %}" class="btn btn-danger delete">Remove</a></td>
          </tr>
        {% endfor %}

      </table>
    </div>


    {% endif %}

  </div>
</div>

  <p style="padding-top: 1rem">
    <a href="{% url 'item-list' %}" class="btn btn-primary">Back to list</a>
  </p>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $(".delete").click(function(){
        if (!confirm("Do you really want to remove ?")){
          return false;
        }
      });
    });
  </script>
{% endblock %}
