{% extends "base.html" %}

{% block title %}My things{% endblock %}

{% block content %}

    <h1>My things</h1>

    {% include "shared/_action_confirmation.html" %}

    <a href="{% url 'item-create' %}" class="btn btn-primary">New</a>
    <br><br>

    <table class="table table-bordered">
      <thead>
        <th>Model</th>
        <th>Maker</th>
        <th>Id Number</th>
        <th>Purchased date</th>
        <th>Location</th>
        <th>Category</th>
        <th></th>
      </thead>
      <tbody>
        {% for item in item_list %}
          <tr>
            <td style="width:20%">{{ item.model }}</td>
            <td>{{ item.make }}</td>
            <td>{{ item.id_number }}</td>
            <td>{{ item.purchased_date }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.category }}</td>
            <td style="width:25%">
              <a href="{% url 'item-detail' pk=item.id %}" class="btn btn-primary">Details</a>
              <a href="{% url 'item-update' pk=item.id %}" class="btn btn-primary">Update</a>
              <a href="{% url 'item-delete' pk=item.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "shared/_generic_pagination.html" %}

{% endblock %}
