{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% load widget_tweaks %}

{% block content %}
  <h1>Location</h1>
  <div style="width:40%">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field|add_class:"form-control" }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary"/>
        <button class="btn btn-primary" onclick="window.history.back()">Cancel</button>
    </form>
  </div>
{% endblock %}
